#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define FNC 1  // F-keys, Navigation, Media
#define SYS 2  // System, Bluetooth, Symbols

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// --------------------------------------------------------------------------------------------
// | TAB    | Q  | W  | E  | R  | T  |  LOWER  |    RAISE    | Y  | U  | I  | O  | P  | BSPC  |
// | LCTRL  | A  | S  | D  | F  | G  | LALT    |    RALT     | H  | J  | K  | L  | ;  | ENTER |
// | LSHIFT | Z  | X  | C  | V  | B  | LGUI    |    RGUI     | N  | M  | ,  | .  | /  | RSHIFT|
// --------------------------------------------------------------------------------------------
            bindings = <
                &kp TAB   &kp Q &kp W &kp E &kp R &kp T &mo SYS &mo FNC &kp Y &kp U &kp I &kp O &kp P  &kp BSPC
                &kp LCTRL &kp A &kp S &kp D &kp F &kp G &kp LALT       &kp RALT      &kp H &kp J &kp K &kp L &kp SEMI &kp ENTER
                &kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp LGUI       &kp RGUI      &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp RSHFT
            >;
        };

        fn_layer {
// --------------------------------------------------------------------------------------------
// | `      | F1 | F2 | F3 | F4 | F5 |         |             | F6 | F7 | F8 | F9 | F10| DEL   |
// | CAPS   | F11| F12|    |    |    |         |             |HOME| PG↓| UP | PG↑| END|       |
// |        |    |    |    |    |    |         |             |    |LEFT|DOWN|RGHT|    |       |
// --------------------------------------------------------------------------------------------
            bindings = <
                &kp GRAVE &kp F1 &kp F2 &kp F3  &kp F4  &kp F5  &trans &trans &kp F6  &kp F7  &kp F8  &kp F9  &kp F10 &kp DEL
                &kp CAPS  &kp F11 &kp F12 &none &none  &none   &trans &trans &kp HOME &kp PG_DN &kp UP &kp PG_UP &kp END  &trans
                &trans    &none  &none   &none  &none  &none   &trans &trans &trans   &kp LEFT &kp DOWN &kp RIGHT &trans   &trans
            >;
        };

        sys_layer {
// --------------------------------------------------------------------------------------------
// |        | !  | @  | #  | $  | %  |         |             | ^  | &  | *  | (  | )  |       |
// |        |    |    |    |    |    | BT_CLR  | BT_CLR_ALL  | ~  | _  | +  | {  | }  |       |
// |        |    |    |    |    |    | BT_SEL 0| BT_SEL 1    |    | \  | :  | "  | ?  |       |
// --------------------------------------------------------------------------------------------
            bindings = <
                &trans   &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT &trans       &trans      &kp CARET &kp AMPS &kp ASTR &kp LPAR &kp RPAR &trans
                &trans   &none    &none  &none    &none    &none     &bt BT_CLR   &bt BT_CLR_ALL &kp TILDE &kp UNDER &kp PLUS &kp LBRC &kp RBRC &trans
                &trans   &none    &none  &none    &none    &none     &bt BT_SEL 0 &bt BT_SEL 1   &none     &kp BSLH  &kp COLON &kp DQT  &kp QMARK &trans
            >;
        };
    };
};
